@media screen and (min-width: 768px) {
    .container{
    grid-template-columns: 300px auto;
}
}
@media screen and (max-width: 768px) {
    .container{
    grid-template-columns: auto;
    }
    .course{
        @apply flex h-16 ;
    }

}
@media (min-width: 1440px) {
    .papers{
        @apply grid-cols-3;
    }
}
    
/* Only the scroll bar */
::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
}
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.15);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,.3);
}

.btn{
    @apply bg-indigo-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded 
}

#background{
    position:absolute;
    z-index:0;
    background:transparent;
    display:block;
    min-height:50%; 
    min-width:50%;

}


#bg-text
{
    color:black;
    font-size:120px;
    margin-top: 400px;
    opacity: 0.2;
    transform:rotate(300deg);
    -webkit-transform:rotate(300deg);
}

#sm-text
{
    color:black;
    font-size:25px;
    margin-top: -550px;
    margin-left: 10px;
    opacity: 0.2;
 
}
#sm-text2
{
    color:black;
    font-size:25px;
    margin-left: 1000px;
    margin-top: 1000px;
    opacity: 0.2;
 
}
  
  